[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
alembic = "==1.4.3"
aliyun-python-sdk-cloudauth = "==2.0.26"
aliyun-python-sdk-core = "==2.13.30"
aliyun-python-sdk-core-v3 = "==2.13.11"
aliyun-python-sdk-kms = "==2.13.0"
amqp = "==5.0.2"
aniso8601 = "==8.1.0"
bcrypt = "==3.2.0"
beautifulsoup4 = "==4.9.3"
bidict = "==0.21.2"
billiard = "==3.6.3.0"
celery = "==5.0.3"
certifi = "==2020.12.5"
cffi = "==1.14.4"
chardet = "==3.0.4"
click = "==7.1.2"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.1.6"
crcmod = "==1.7"
cryptography = "==3.2.1"
et-xmlfile = "==1.0.1"
faker = "==5.0.0"
flask-bcrypt = "==0.7.1"
flask-redis = "==0.4.0"
flask-wechatpy = "==0.1.3"
gevent = "==21.1.1"
gevent-websocket = "==0.10.1"
google = "==3.0.0"
greenlet = "==1.0.0"
gunicorn = "==20.0.4"
idna = "==2.10"
inflection = "==0.5.1"
itsdangerous = "==1.1.0"
jdcal = "==1.4.1"
jinja2 = "==2.11.2"
jmespath = "==0.10.0"
jpush = "==3.3.8"
kombu = "==5.0.2"
lml = "==0.1.0"
openpyxl = "==3.0.5"
optionaldict = "==0.1.2"
oss2 = "==2.13.1"
prompt-toolkit = "==3.0.8"
protobuf = "==3.14.0"
pycparser = "==2.20"
pycryptodome = "==3.9.9"
pyexcel = "==0.6.6"
pyexcel-io = "==0.6.4"
pyexcel-webio = "==0.1.4"
pyexcel-xlsx = "==0.6.0"
pyhumps = "==1.6.1"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
python-engineio = "==3.14.2"
python-socketio = "==4.6.1"
pytz = "==2020.4"
redis = "==3.5.3"
requests = "==2.25.0"
six = "==1.15.0"
soupsieve = "==2.1"
text-unidecode = "==1.3"
texttable = "==1.6.3"
urllib3 = "==1.26.2"
vine = "==5.0.0"
wcwidth = "==0.2.5"
wechatpy = "==1.8.14"
xmltodict = "==0.12.0"
hashids = "*"
aliyun-python-sdk-vod = "*"
bson = "==0.5.10"
flask-restx = "==0.5.1"
qcloud-python-sts = "==3.0.5"
xlsxwriter = "==3.0.2"
cos-python-sdk-v5 = "*"
tencentcloud-sdk-python = "==3.0.581"
sentry-sdk = {extras = ["flask"],version = "==1.5.6"}
Cerberus = "==1.3.2"
Flask = "==1.1.2"
Flask-Excel = "==0.0.7"
Flask-JWT-Extended = "==3.25.0"
Flask-Migrate = "==2.5.3"
Flask-RESTful = "==0.3.8"
Flask-SocketIO = "==4.3.2"
Flask-SQLAlchemy = "==2.4.4"
Flask-Testing = "==0.8.0"
Mako = "==1.1.3"
MarkupSafe = "==1.1.1"
PyJWT = "==1.7.1"
SQLAlchemy = "==1.3.20"
SQLAlchemy-Utils = "==0.36.8"
Werkzeug = "==1.0.1"
Pillow = "==8.4.0"

[requires]
python_version = "3.7"
